* {
  margin: 0; /*zerar a margem exertna dos elementos*/
  padding: 0; /*zerar a margem interna dos elementos*/
}
header {
  /* vamos adicionar uma imagem de fundo ao cabeçalho */
  background-image: url("../img/cafeteria1.jpg");
  background-position: 0px -600px;
  height: 300px; /*altura do cabeçario*/
  transition: ease 1s;
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Merienda One", cursive;
  font-size: 40px;
  padding-top: 120px;
  text-shadow: 20px 20px 20px rgb(0, 0, 0);
}
/* Vamos formatar os elementos de li para ficar um ao lado
do outro com o comando display */
nav ul li {
  display: inline-block;
  /* border: 3px solid gray; */
  margin-left: 10px;
  margin-right: 10px;
}
/* alinhar os elementos de link ao centro usado text-align:center
no nav irá para o centro */
nav {
  text-align: center;
  margin-top: 20px;
  /* a cor utilizada para o fundo da barra nav foi o RGBA,
  que significa red,grean,blue,alpha,onde o valor mais
  proximo do 0 é totalmente trasparente e quanto mais proximo do
  1  é totalmente solido. Nesse caso estamos usando 80% de solidez, ou seja aplicamos 20%
  transparencia */
  background-color: rgb(255, 255, 255, 0.8);
  padding-top: 20px;
  padding-bottom: 20px;
}
nav ul li a {
  color: rgb(0, 0, 0);
  font-family: "Merienda One", cursive;
  font-size: 20px;
  text-decoration: none;
  /* O comando abaixo deixa em Negrito */
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
  color: chocolate;
  padding-left: 10px;
}
/* criação da formatação do rodapé(footer) */
footer {
  background-color: RGBA(209, 148, 99, 0.8);
  text-align: center;
  font-family: "Racing Sans One", cursive;
}
div ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
div a {
  color: mediumblue;
  text-decoration: none;
}
main {
  /* vamos aplicar uma margem interna de 20px utilizaremos o comando padding */
  padding: 20px;
}
h2 {
  font-family: "Jockey+One";
  color: black;
  font-size: 30pt;
  border-bottom: 4px dashed rgba(100, 0, 0);
  padding-left: 0;
  text-align: center;
  margin-bottom: 100px;
}
h3 {
  font-family: "Jockey+One";
  margin-left: 0;
  font-size: 20pt;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-align: center;
}
p {
  padding-left: 70px;
  padding-right: 70px;
  text-align: justify;
  /* aplicaremos o comando que aumenta oa altura da linha. esse efeito simula o espaçamento entre linhas encontrado no Word. O comando é
  line-height-> linha hight; */
  line-height: 30px;
  margin-bottom: 30px;
  font-family: "Jockey+One";
  font-size: 13pt;
}

#home {
  text-align: center;
}
#home img {
  height: 400px;
  width: 500px;
  margin: 20px;
  /* Vamos aplicar um efeito de trasparencia com o comando "Opacity".
 Onde os valores 1 é totalmento visivel e 0 é totalmente trasparente. */
  opacity: 0.9;
  border-radius: 40%;
  transition: ease 0.5s;
}
#home img:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
  /* transform: rotatex(360deg);*/
}
#acafeteria {
  text-align: center;
}
#acafeteria img {
  width: 500px;
  height: 400px;
}
#acafeteria iframe {
  text-align: center;
}
#video {
  text-align: center;
}
#video {
  text-align: center;
}
#container,
#linha,
#imagem,
#texto {
  /* border: 2px solid black; */
}
#container {
  display: inline-block;
  border-bottom: 2px solid black;
  box-shadow: 5px 5px 20px black;
  margin-bottom: 80px;
}
#linha {
  display: table;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#imagem img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#imagem {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* Fazer a imagem flutuar para a esquerda */
  float: left;
}
#texto {
  padding: 5px;
  width: 70%;
  float: left;
}
#imagem img:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
  transition: ease 1s;
}
